<footer id='footer'>
  <ul id='footer-links'>
    <li>
      <a href='{{ site.github_url }}'>
        <img src='{{ 'github' |> icon('bootstrap') }}'>
        GitHub
      </a>
    </li>
    <li>
      <a href='{{ site.linkedin_url }}'>
        <img src='{{ 'linkedin' |> icon('bootstrap') }}'>
        LinkedIn
      </a>
    </li>

  </ul>
  <p id='footer-description'>
    Crafted with ♥️ by Max
  </p>
</footer>
